@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{font-family: 'Montserrat', sans-serif;
    color: #42526E;
}
h1{
	color: #253858;
	font-size: 2.4rem;
    line-height: 1.25;
    margin-bottom: 14px;
}
/*Botoes - Menu superior*/
.btnExperimentar{
	border: none;
	color: #FFF;
	background: #1abc9c;
}
.btnExperimentar:hover{
	border:none;
	color: #FFF;
	background:#16a085;
}

.btnSistema{
border: 1px solid #FFF;
color: #42526E;
background: none;
}
.btnSistema:hover{
	background:none;
	border: 1px solid #FFF;
	color: #54688a;
}


.btnAssinar{
	border: 1px solid #1abc9c;
	color: #1abc9c;
}
.btnAssinar:hover{
	border: 1px solid #16a085;
	color: #16a085;
}



hr{
	width:50%;
	color: #bdc3c7;
	border-bottom:1px solid #ecf0f1;
}


/*Coluna  - Planos*/
.colPlanos{
	align-items: center;
	justify-content: center;
}
 .divCol{
	margin-left: 25px;
}

/*Footer*/ 
.footer{
	background-color: #F4F5F7;
}
.footer a{
	font-size: 14px;
	color: #42526E;
}
.footer:hover{
	color: #42526E;
}